In [3]:
# Es una coleccion no ordenada de valores unicos

# Para crear un conjunto vacio

In [1]:
conjunto = set()
conjunto

set()

# Podemos crear un conjunto con informacion de la siguiente manera

In [2]:
conjunto = {1,2,3}
conjunto

{1, 2, 3}

# No siguen un orden establecido y no se pueden poner valores ya existentes

In [7]:
conjunto = {0,1,2,3,5}
print(conjunto)

conjunto.add(4)
print(conjunto)

conjunto.add(4)
print(conjunto)#Si se a√±ade otro no lo dejara

{0, 1, 2, 3, 5}
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}

# Para verlo si existe en el conjunto se puede hacer asi:

In [8]:
4 in conjunto

True

In [9]:
'hola' in conjunto

False

In [10]:
'hola' not in conjunto

True

# Podemos hacer un casting, de una lista normal a un set (conjunto)

In [13]:
lista = [1,2,2,2,3,3,1,4,2,2]
conjunto = set(lista)

print(lista)
print(conjunto)

[1, 2, 2, 2, 3, 3, 1, 4, 2, 2]
{1, 2, 3, 4}

In [15]:
lista = [1,2,2,2,3,3,1,4,2,2]

lista = set(lista)#de la manera
print(lista)

{1, 2, 3, 4}

# Tambien la lista con valores repetidos, pasarla a set para sacar los mismos repetidos

In [17]:
lista = [1,1,1,1,2,2,3,3,4,4,1,1]
lista = list(set(lista))
print(lista)

[1, 2, 3, 4]

# Como ultimo tambien con un String

In [19]:
palabra = "Al pan pan y al vino vino"
set(palabra)

{' ', 'A', 'a', 'i', 'l', 'n', 'o', 'p', 'v', 'y'}